{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/categories.css' %}">
{% endblock%}


{% block content %}

<main class="categories-container">
<div>
<h2 class="categories-h2">Learn more about the tech stacks you need get usefull information and answer questions</h2>

<form class="categories-form" action="/search" method="get">
    <input type="text" id="searchBar" name="query" placeholder="Search...">
    <button class="search-btn" type="submit">Search</button>
</form>
</div>
<h3 class="categories-h3">Frontend </h3>
 <section class="frontend-section ">
 <div class="content-section" id="section-html">
    <h4 class="categories-h4">HTML</h4>
    <p class="categories-p">Learn the structure of web pages with HTML...</p>
    <button>Learn More</button>
</div>
<div class="content-section" id="section-css">
    <h4 class="categories-h4">CSS</h4>
    <p class="categories-p">Style and design web pages with CSS...</p>
    <button >Learn More</button>
</div>
<div class="content-section" id="section-js">
    <h4 class="categories-h4">Javascript</h4>
    <p class="categories-p">Add interactivity to your web pages with JavaScript...</p>
    <button>Learn More</button>
</div>
 </section>
 <h3 class="categories-h3">Backend  </h3>
 <section class="backend-section">
    <div class="content-section" id="section-py">
        <h4 class="categories-h4">Python</h4>
        <p class="categories-p">Use Python for web development, data analysis, and automation...</p>
        <button>Learn More</button>
   </div>
   <div class="content-section" id="section-sql">
    <h4 class="categories-h4">Django</h4>
    <p class="categories-p">A Python web framework for rapid and secure website development...</p>
    <button>Learn More</button>
   </div>
   <div class="content-section" id="section-django">
    <h4 class="categories-h4">SQL</h4>
    <p class="categories-p">SQL is used for manipulating relational databases efficiently...</p>
    <button>Learn More</button>
   </div>
    </section>
    <h3 class="categories-h3">Misc </h3>
    <section class="misc-section">
        <div class="content-section" id="section1">
            <h4 class="categories-h4">Recruiter questions</h4>
            <p class="categories-p">Browse top questions from recruiters</p>
            <button>Learn More</button>
       </div>
       <div class="content-section" id="section2">
        <h4 class="categories-h4">Github</h4>
        <p class="categories-p">Web-based platform for version control and collaboration...</p>
        <button>Learn More</button>
       </div>
       <div class="content-section" id="section3">
        <h4 class="categories-h4">Computer science</h4>
        <p class="categories-p">Study of algorithms, data structures, and programming languages...</p>
        <button>Learn More</button>
       </div>
        </section>

</main>

{% endblock content %}