<!-- templates/your_app/category_list.html -->

{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto p-5">
	<h2 class="text-3xl font-bold mb-5">Level Up Your Skills with Us!</h2>
	<p class="">Unlock your potential and take your expertise to the next level with our hands-on training platform. Whether you're prepping for interviews, sharpening your coding skills, or mastering the art of problem-solving, we’ve got you covered.</p>
	<p>Our tailored exercises, real-world scenarios, and personalized feedback ensure you’ll always be ahead of the curve.</p>
	<p><strong>Don’t just learn</strong> — practice, challenge yourself, and grow into the professional you aspire to be.</p>
	<p class="mt-4"><a href="#" class="btn btn-primary btn-lg">Join Now and Start Training with Confidence!</a></p>
	

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-10">
        {% for category in categories %}
            <div class="category-card border rounded-lg p-4 mb-4">
                <h3 class="text-2xl font-semibold">{{ category.name }}</h3>
                <p>{{ category.description }}</p>
                
                <div class="technologies mt-4">
                    {% for technology in category.technologies.all %}
                    <div class="card dark mb-4">
                        <img src="{{ technology.image.url }}" class="card-img-top" alt="{{ technology.name }}" style="width: 150px; height: 150px;">
                        <div class="card-body">
                            <h5 class="card-title">{{ technology.name }}</h5>
                            <p class="card-text">{{ technology.description }}</p>
                            <div class="cta-section flex justify-between items-center">
                                <a href="{% url 'job_me:technology_detail' technology.id %}" class="btn btn-light">Explore</a>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <p>No technologies available for this category.</p>
                    {% endfor %}
                </div>
            </div>
        {% empty %}
        <p>No categories available.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
