{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/categories.css' %}">
{% endblock%}


{% block content %}

<main class="categories-container">
<div>
<h2 class="categories-h2">Learn more about the tech stacks you need get usefull information and answer questions</h2>

<form class="categories-form" action="/search" method="get">
    <input type="text" id="searchBar" name="query" placeholder="Search...">
    <button type="submit">Search</button>
</form>
</div>
<h3 class="categories-h3">Front End </h3>
 <section class="frontend-section ">
 <div class="content-section" id="section-html">
    <p class="categories-p">HTML</p>
</div>
<div class="content-section" id="section-css">
    <p class="categories-p"> CSS</p>
</div>
<div class="content-section" id="section-js">
    <p class="categories-p">JavaScript</p>
</div>
 </section>
 <h3 class="categories-h3">Back End  </h3>
 <section class="backend-section">
    <div class="content-section" id="section-py">
       <p class="categories-p">Python</p>
   </div>
   <div class="content-section" id="section-sql">
       <p class="categories-p">SQL</p>
   </div>
   <div class="content-section" id="section-django">
       <p class="categories-p">Django</p>
   </div>
    </section>
    <h3 class="categories-h3">Misc </h3>
    <section class="misc-section">
        <div class="content-section" id="section1">
           <p class="categories-p">P</p>
       </div>
       <div class="content-section" id="section2">
           <p class="categories-p">p</p>
       </div>
       <div class="content-section" id="section3">
           <p class="categories-p">p</p>
       </div>
        </section>

</main>

{% endblock content %}