@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* 
.dark-mode-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.dark-mode-toggle:hover {
    background-color: #0056b3;
}

.dark-mode .dark-mode-toggle {
    background-color: #4e4e4e;
    color: white;
} */

:root {
	/* setup colors for light and dark mode + green buttons */
	/* 
        default colors:
            - main lightest for backgrond
            - main dark for headings / paragraphs
            - main med for sub headings
            - dark green for button
            
        dark mode colors (later):
            - nav background = main dark
            - Heading text / paragraphs = main lightest
            - sub headsings = main-light
            - light green for buttons
    /*

    /* main colors */
	--main-lightest: #ffffff;
	--main-light: #cccccc;
	--main-med: #555555;
	--main-dark: #3a3a4a;

	/* default light green, when we hover over buttons becomes darker */
	--main-green-light: #40d668;
	--main-green-dark: #2b8c46;
    --main-purple-light: #9747ff;

	/* box colors for light and dark mode */
	--box-light-background-light: #f1f1f1;
	--box-background-dark: #cccccc;

	/* fonts */

	--main-font: Lato;
	--heading-font-weight: 700;
	--subheading-font-weight: 400;
	--paragraph-font-weight: 300;
}

* {
	font-family: var(--main-font);
}

/* HOME SECTION */

.hero-container {
	height: 3rem;
}

.default-container {
	display: block;
	position: relative;
	left: 25%;
	justify-content: center;
	flex-direction: column;
	width: 50%;
}


.hero-section {
	display: flex;
	color: var(--main-dark);
	padding: 2rem;
	height: 20rem;
	border-radius: 12px;
}

.hero-section::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: .4;
    background-image: url(https://t3.ftcdn.net/jpg/07/38/89/48/360_F_738894857_62jRatktPCpiBnPiBHrBLgy5ecPD1gTR.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    border-radius: 20px;
}

.hero-section h1 {
	text-align: center;
	color: var(--main-dark);
	text-transform: uppercase;
	font-size: 6rem;
	font-weight: 1000;
    opacity: 0.9;
}

.hero-section p {
	position: relative;
	text-align: center;
	color: var(--main-green-dark);
	text-transform: uppercase;
	background-color: var(--main-lightest);
	margin: 2rem;
	margin-top: 1rem;
	border-radius: 12px;
	font-size: 2rem;
	font-weight: var(--subheading-font-weight);
}

.tech-container {
	margin-top: 2rem;
	background-image: linear-gradient(
		to bottom,
		var(--main-green-dark),
		var(--main-green-light)
	);
	color: var(--main-dark);
	padding: 2rem;
	height: auto;
	border-radius: 12px;
}

.tech-container h1 {
	margin-left: 1rem;
	color: white;
	font-weight: 900;
}

.tech-container i {
	color: white;
	background-color: var(--main-green-light) !important;
	text-align: center;
	width: 2rem;
	height: 2rem;
	font-size: 1rem;
	border-radius: 50%;
	line-height: 2.1;
	color: #ffffff !important;
	margin-right: 0.5rem;
}

.tech-container button {
	background-color: white;
	border: none;
	margin: 0.5rem;
	border-radius: 30px;
	width: auto;
	min-width: 12.5%;
	height: 2.5rem;
	text-align: left;
	padding-left: 10px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: 600;
}

.tech-container button:hover {
	background-color: var(--main-light);
}

/* Top questions Carousel*/

.questions-carousel {
	margin-top: 2rem;
}

.top-header h1 {
	font-size: 3.5rem;
	font-weight: var(--heading-font-weight);
}

.top-subheader-container {
	display: flex;
	justify-content: space-between;
}

.top-subheader-p {
	font-size: 1.5rem;
	font-weight: var(--subheading-font-weight);
	color: var(--main-med);
	opacity: 0.8;
	width: 70%;
}

.top-questions-cards {
	height: 100%;
	display: flex;
	position: relative;
	overflow: hidden;
}

.top-questions-cards section {
	flex-basis: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.top-questions-card-content {
	position: relative;
	border-radius: 20px;
	height: 400px;
	margin-right: 3em;
}

.top-questions-card-content button {
	margin-top: 1.5rem;
	width: 250px;
	height: 250px;
	border-radius: 30px;
	border: none;
	overflow: hidden;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.top-questions-card-content i {
	font-size: 10em;
	color: var(--main-green-dark);
	opacity: 0.2;
	position: relative;
	top: 10%;
	left: 20%;
}

.top-questions-card-content h1 {
	font-weight: var(--heading-font-weight);
	position: relative;
	top: -10%;
	margin-left: 1rem;
	text-align: left;
}

.top-questions-card-content p {
	font-size: larger;
	opacity: 0.8;
	font-weight: var(--heading-font-weight);
	position: relative;
	text-align: left;
	margin-left: 1rem;
	width: 80%;
	margin-top: -30px;
}

.swiper-buttons {
	display: flex;
	position: relative;
	justify-content: space-between;
}

.swiper-button {
	margin: 1rem;
	border: none;
	background-color: var;
	font-size: 2rem;
	font-weight: 700;
	width: 4rem;
	border-radius: 15px;
	margin-right: 0%;
	margin-left: 2rem;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.swiper-button:hover {
	background-color: var(--main-green-dark);
	color: var(--main-lightest);
}

.swiper-pagination {
	margin-bottom: 2rem;
	width: 10%;
}

/*cta home buttons section */

.cta-button-container {
	margin-top: -5rem;
	width: 70%;
}

.cta-home-buttons {
	flex-direction: row;
	justify-content: center;
	margin-bottom: 2rem;
}

.cta-home-item {
	display: flex;
	align-items: center;
	justify-content: left;
}

.cta-home-item h1 {
	width: 57.5%;
	margin: 1rem;
	font-size: 2.5rem;
	transition: all 0.5s;
	text-align: center;
}

.cta-home-item #cta-home-h1-top {
	background-color: var(--main-green-dark);
	padding: 15px;
	border-radius: 25px;
	color: var(--main-lightest);
}

.cta-home-item #cta-home-h1-bottom {
	background-color: var(--main-light);
	padding: 15px;
	border-radius: 25px;
	color: var(--main-dark);
}

.cta-home-item button {
	display: flex;
	position: relative;
	width: 150px;
	border: none;
	border-radius: 30px;
	height: 80px;
	font-size: 4rem;
	justify-content: center;
	align-items: center;
	transition: all 0.5s;
}

.cta-home-item button i {
	opacity: 0.6;
}

.cta-home-item button:hover {
	opacity: 1;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.cta-home-item button:hover ~ h1 {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.cta-home-item button:hover #cta-home-h1-bottom {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.cta-home-button-right {
	background-color: var(--main-green-dark);
	color: var(--main-lightest);
}

/* cta sign up */ 

.cta-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background: linear-gradient(to bottom, var(--main-green-dark), var(--main-green-light));
    height: 200px;
    border-radius: 20px;
}

.cta-signup-header h1 {
    color: white;
    font-size: 3rem;
    font-weight: 1000;
}

.cta-signup button {
    margin-top: 1rem;
    width: 250px;
    height: auto;
    padding: 5px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    background-color: var(--main-purple-light);
    color:white;
    opacity: 0.8;
    font-size: 2rem;
}

/* Dark Mode Toggle Button */
.dark-mode-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.dark-mode-toggle:hover {
    background-color: #0056b3;
}

.dark-mode .dark-mode-toggle {
    background-color: #4e4e4e;
    color: white;
}
