<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Base Light Mode Styles */
=======
/* Base Light Mode Styles
>>>>>>> f00fc6904d2c3326671dddabd13130e89284f902
body {
    font-family: Lato, Arial, sans-serif;
    background-color: #f5f5f5;
    color: black;
    margin: 0;
    transition: background-color 0.5s, color 0.5s;
}

<<<<<<< HEAD
.home-cta-button {
    padding: 0.75em 1.5em;
    background-color: var(--main-green-dark);
    color: var(--text);
    border: none;
    border-radius: 8px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.home-cta-button:hover {
    background-color: var(--main-green-light);
    color: var(--main-light);
    text-decoration: none;
}

.home-team-content {
    font-size: 2.5em;
    margin-bottom: 1.5em;
    text-align: center;
    background-color: #00000003;
}

/* Dark Mode Styles */
body.dark-mode {
=======
 body.dark-mode {
>>>>>>> f00fc6904d2c3326671dddabd13130e89284f902
    background-color: #2c2c2c;
    color: white;
} 

*/ 

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {

    /* setup colors for light and dark mode + green buttons */
    /* 
        default colors:
            - main lightest for backgrond
            - main dark for headings / paragraphs
            - main med for sub headings
            - dark green for button
            
        dark mode colors (later):
            - nav background = main dark
            - Heading text / paragraphs = main lightest
            - sub headsings = main-light
            - light green for buttons
    /*

    /* main colors */
    --main-lightest: #ffffff; 
    --main-light: #cccccc;
    --main-med: #555555;
    --main-dark: #3a3a4a;
    
    /* default light green, when we hover over buttons becomes darker */
    --main-green-light: #36AF57;
    --main-green-dark: #2B8C46;
    

    /* box colors for light and dark mode */
    --box-light-background-light: #F1F1F1;
    --box-background-dark: #cccccc;
    
    /* fonts */
    
    --main-font: Lato;
    --heading-font-weight: 700;
    --subheading-font-weight: 400;
    --paragraph-font-weight: 300;

}

body {
    font-family: var(--main-font);
}


<<<<<<< HEAD
.hero img {
    width: 100%;
    /* height: auto; */
    height: 35vh;
    object-fit: contain;
}
=======
>>>>>>> f00fc6904d2c3326671dddabd13130e89284f902


/* Dark Mode Toggle Button */
.dark-mode-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.dark-mode-toggle:hover {
    background-color: #0056b3;
}

.dark-mode .dark-mode-toggle {
    background-color: #4e4e4e;
    color: white;
}

.home-section {
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
}

.home-frontend-section {
    display: flex;
    justify-content: space-around;
}


