.body {
	font-style: normal;
	font: 3rem;
	text-align: center;
	background-color: #38a3a5;
}

.module-link {
	cursor: pointer;
	color: #000;
	text-decoration: none;
}

.profile-avatar {
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 50%;
}

.offcanvas.offcanvas-start {
	height: calc(100vh - 90px);
	top: 90px;
	transition: none !important;
}
.offcanvas-visible {
	visibility: visible !important;
	display: block !important;
}
.offcanvas-backdrop {
	background-color: transparent !important;
}

.q-open {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	top: 10%;
	position: relative;
	background-color: white;
	border-radius: 50%;
	color: black;
	text-decoration: none;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: background-color 0.3s;
}

.q-open:hover {
	opacity: 0.8;
}

#show-answer-btn {
	text-decoration: none;
	cursor: pointer;
}

#show-answer-btn:hover {
	text-decoration: underline;
}

#hero {
	background: #38a3a5;
	height: 80vh;
}
.animated-image {
	animation: bounceRotate 2s infinite;
}

#tech-container {
	background-image: url('../images/stack-bg1.jpg');
	background-size: cover;
	background-position: bottom center; /* Start from the bottom */
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
	animation: moveBackground 20s linear infinite;
}

@keyframes moveBackground {
	0% {
		background-position: bottom center;
	}
	100% {
		background-position: top center;
	}
}

.section-title {
	background-color: #edba02;
	color: darkslategrey;
	padding: 10px 20px;
	font-size: 48px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 5px;
	display: block;
	text-align: center;
	margin: -10px auto 20px;
	width: fit-content;
	position: relative;
	z-index: 10;
	border: 2px solid darkslategrey;
	box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.try-btn {
	background-color: #edba02;
	color: darkslategrey;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 5px;
	transition: background-color 0.3s, color 0.3s;
	cursor: pointer;
}

.try-btn:hover {
	background-color: #edba02;
	transform: scale(1.1);
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.tag {
	font-size: 0.875rem;
	display: inline-flex;
	border: 1px solid rgba(16, 0, 0, 0.1);
	padding: 0.25rem 0.75rem;
	border-radius: 0.2rem;
	letter-spacing: 0.05em;
	align-items: center;
}

.extra-space {
	padding-left: 0;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

@media (min-width: 992px) {
	.extra-space {
		padding-left: 7rem;
	}
}

@keyframes bounceRotate {
	0%,
	100% {
		transform: translateY(0) rotate(0deg);
	}
	50% {
		transform: translateY(-20px) rotate(5deg);
	}
}
.progress-circle {
	position: relative;
	width: 120px;
	height: 120px;
	background-color: #2c2c2c;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.progress-circle svg {
	transform: rotate(-90deg);
}

.progress-circle .progress-value {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 18px;
	font-weight: bold;
	color: #4caf50;
}

/* Animation for progress change */
@keyframes progress-animation {
	from {
		stroke-dashoffset: 314; /* Start at the full circumference */
	}
	to {
		stroke-dashoffset: 0; /* End at zero */
	}
}

.progress-circle svg circle:nth-child(2) {
	transition: stroke-dashoffset 1s ease; /* Smooth transition */
}
