{% load static %}

<footer class="bg-light text-dark pt-5">
	<div class="container px-5">
			<div class="row">
					<div class="col-6 col-lg-4">
							<div class="">
								<img src="{% static 'images/logo.svg' %}" alt="Logo" class="img-fluid">
							</div>
							<p class="mt-2">
								Unlock your potential and ace your IT interview with our dynamic training platform!
							</p>

					</div>
					<div class="col">
							<h4>Menu</h4>
							<ul class="list-unstyled pt-2">
								<li class="py-1">Categories</li>
								<li class="py-1">Questions</li>
								<li class="py-1">Interview</li>
								<li class="py-1">About Us</li>
							</ul>
					</div>
					<div class="col">
							<h4>More</h4>
							<ul class="list-unstyled pt-2">
									<li class="py-1">Landing Pages</li>
									<li class="py-1">FAQs</li>
							</ul>
					</div>
					<div class="col">
							<h4>Categories</h4>
							<ul class="list-unstyled pt-2">
									<li class="py-1">Front End</li>
									<li class="py-1">Back End</li>
									<li class="py-1">UI/UX</li>
									<li class="py-1">DevOps</li>
							</ul>
					</div>
					<div class="col-6 col-lg-3 text-lg-end">
							<h4>Social Media Links</h4>
							<div class="social-media pt-2">
									<a href="#" class="text-dark fs-2 me-3"><i class="bi bi-facebook"></i></a>
									<a href="#" class="text-dark fs-2 me-3"><i class="bi bi-pinterest"></i></a>
									<a href="#" class="text-dark fs-2 me-3"><i class="bi bi-instagram"></i></a>
									<a href="#" class="text-dark fs-2"><i class="bi bi-linkedin"></i></a>
							</div>
					</div>
			</div>
			<hr>
			<div class="ms-auto py-1">
					<p>2024 © Elevate Hackathon Team-3 is happy to share </p>
			</div>
	</div>
</footer>
