{% load static %}

<nav class="navbar navbar-expand-lg py-0 shadow">
	<div class="container px-4">
		<img src="{% static 'images/logo.svg' %}" alt="Logo" class="img-fluid">
		<button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#top-navbar" aria-controls="top-navbar">
			<i class="bi bi-grid fs-3"></i>
		</button>
		<div class="offcanvas offcanvas-end" tabindex="-1" id="top-navbar" aria-labelledby="top-navbarLabel">

			<button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#top-navbar" aria-controls="top-navbar">
				<div class="d-flex justify-content-between align-items-center p-2 border-bottom border-secondary">
					<img src="{% static 'images/logo.svg' %}" alt="Logo" class="img-fluid">
					<i class="bi bi-grid fs-3"></i>
				</div>
				
			</button>


				<ul class="navbar-nav ms-lg-auto p-4 p-lg-0 text-center">
					<li class="nav-item px-3 px-lg-0 py-1 py-lg-4">
						<a class="nav-link active" aria-current="page" href="#">Categories</a>
					</li>
					<li class="nav-item px-3 px-lg-0 py-1 py-lg-4">
						<a class="nav-link active" aria-current="page" href="#">Top Questions</a>
					</li>
					<li class="nav-item px-3 px-lg-0 py-1 py-lg-4">
						<a class="nav-link active" aria-current="page" href="#">Interview Sim</a>
					</li>
					<li class="nav-item px-3 px-lg-0 py-1 py-lg-4">
						<a class="nav-link active" aria-current="page" href="#">About Us</a>
					</li>
					{% if user.is_authenticated %}
    <li class="ms-0 ms-sm-5 px-3 px-lg-0 py-1 py-lg-4">
        <div class="dropdown">
            <a class="dropdown-toggle no-arrow" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-square fs-3 text-dark"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <a class="dropdown-item" href="#">Profile</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Logout</a>
                </li>
            </ul>
        </div>
    </li>
{% else %}
    <li class="ms-0 ms-sm-5 px-3 px-lg-0 py-1 py-lg-4">
        <a class="btn btn-dark rounded-0 custom-signup-btn" href="{% url 'account_signup' %}">Signup</a>
    </li>
{% endif %}

				</ul>

		</div>
	</div>
</nav>