{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block content %}
<section class="py-3 mt-3 py-md-5 py-xl-8">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="mb-5">
            <h2 class="display-5 fw-bold text-center">Sign up</h2>
            <p class="text-center m-0">Already have an account? <a href="{{ login_url }}">Sign In</a></p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8">
          <div class="row gy-5 justify-content-center">
            <div class="col-12">
              <form method="POST" action="{% url 'account_signup' %}">
                {% csrf_token %}
                <div class="row gy-3 overflow-hidden">
                    {{ form|crispy }}
                  <div class="col-12">
                    <div class="d-grid">
                      <button class="btn btn-lg btn-dark rounded-0 fs-6" type="submit">{% trans "Sign In" %}</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
