{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block content %}
<section class="py-2 mt-2 py-md-3 py-xl-4">  <!-- Reduced padding -->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="mb-3">  <!-- Reduced bottom margin -->
            <h2 class="display-6 fw-bold text-center">Sign up</h2>  <!-- Changed display size -->
            <p class="text-center m-0">Already have an account? <a href="{{ login_url }}">Sign In</a></p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-sm-8">  <!-- Adjusted column size -->
          <div class="row gy-4 justify-content-center">  <!-- Reduced gap -->
            <div class="col-12">
              <form method="POST" action="{% url 'account_signup' %}">
                {% csrf_token %}
                <div class="row gy-2 overflow-hidden">  <!-- Reduced gap -->
                    {{ form|crispy }}
                  <div class="col-12">
                    <div class="d-grid">
                      <button class="btn btn-lg btn-dark rounded-0 fs-6" type="submit">{% trans "Sign Up" %}</button>  <!-- Adjusted button text -->
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
