{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/error.css' %}">
{% endblock%}

{% block content %}


    <main class="errors" >
    <div class="error-container">
    <h1>500 Internal Server Error</h1>
    <p><Span>Oops!</Span> Something went wrong on our end.</p>
    <p>Please try again later </p>
    <p>Thank you for your understanding.</p>
    <p><a class="btn" href="/">Go back to homepage</a></p>
    </div>
    </main>

    <style>
        .errors {
        font-family: Arial, sans-serif;
        background-color: #f8f9fa;
        color: #343a40;
        text-align: center;
        padding: 50px;
        height: 100vh; 
        }

        .error-container {
        text-align: center;
        background-color: #ffffff;
        border-radius: 10px;
        padding: 40px 20px;
        max-width: 600px;
        margin: 100px auto; 
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        animation: fadeIn 0.5s ease-in-out;
        margin:auto;
    }
        .error-container span{
        font-weight:700;
        }
       .error-container h1 {
            font-size: 2em;
            margin-bottom: 20px;
            font-weight:700;
            color: #3a3a4a;
        }
        .error-container p {
            font-size: 18px;;
            margin-bottom: 10px;
            font-weight:300;
            color:#3a3a4a;

        }
        .error-container .btn {
            text-decoration: none;
            background-color:#36AF57;
            color:white;
        }
        .error-container a:hover{
            background-color:#2B8C46;
        }
</style>
{% endblock content %}